###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
.env
.env.test
bin/console
bin/phpunit
config/bundles.php
config/preload.php
config/routes.yaml
config/services.yaml
config/packages/cache.yaml
config/packages/doctrine.yaml
config/packages/doctrine_migrations.yaml
config/packages/framework.yaml
config/packages/routing.yaml
config/packages/prod/doctrine.yaml
config/packages/test/doctrine.yaml
config/routes/annotations.yaml
config/routes/framework.yaml
migrations/.gitignore
public/index.php
src/Kernel.php
src/Controller/.gitignore
src/Entity/.gitignore
composer.lock
symfony.lock
